@import url('../../assets/legal-app.v2.css');

:root {
  --bg-1: #080f1f;
  --bg-2: #11284a;
  --bg-3: #1e3553;
  --accent-primary: #84ffd2;
  --accent-secondary: #62c8ff;
  --btn-bg: linear-gradient(45deg, #2049b5, #1f9ee0);
  --btn-shadow: rgba(31, 158, 224, 0.45);
}
